<table>
    <thead>
        <tr>
            <th>Seat Number</th>
            <th>Train Number</th>
            <th>Train Name</th>
            <th>Journey Date</th>
            <th>Passenger Name</th>
            <th>Passenger Age</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Coach</th>
            <th>Birth Preference</th>
        </tr>
    </thead>
    <tbody>
            <td>{{train.seatNumber}}</td>
            <td>{{train.trainNumber}}</td>
            <td>{{train.trainName}}</td>
            <td>{{train.dateOfJourney}}</td>
            <td>{{train.pName}}</td>
            <td>{{train.age}}</td>
            <td>{{train.source}}</td>
            <td>{{train.destination}}</td>
            <td>{{train.coach}}</td>
            <td>{{train.birthPreference}}</td>
    </tbody>
</table>
<div>
<button (click)="onPayment()">Make payment</button>
</div>