<!-- <div class="container">
  <router-outlet></router-outlet>
  <div class="card">
    <nav>
      <ul>
        <li><a routerLink="trains" routerLinkActive="active">Your Booking</a></li>
        <li><a routerLink="book-ticket" routerLinkActive="active">Book Your Ticket</a></li>
        <li><a routerLink="view-ticket" routerLinkActive="active">View Ticket</a></li>
      </ul>
    </nav>
  </div>
</div> -->
<nav class="navbar">
  <ul>
    <li><a routerLink="book-ticket" routerLinkActive="active">Book Your Ticket</a></li>
    <li><a routerLink="trains" routerLinkActive="active">Your Booking</a></li>
    <li><a routerLink="transactionHistory" routerLinkActive="active">Transaction History</a></li>
    <li><a routerLink="aboutus" routerLinkActive="active">About Us</a></li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="container1">
    <p>&copy; 2024 All Rights Reserved</p>
  </div>
</footer>

