.navbar {
  background-color: #ffe596; /* Background color */
  overflow: hidden; /* Hide overflow content */
  width: 100%; /* Full width */
  position: fixed; /* Fixed positioning */
  top: 0; /* Place at the top */
  z-index: 1000; /* Ensure it's on top of other content */
}

.navbar ul {
  list-style-type: none; /* Remove default list style */
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline; /* Display list items inline */
}

.navbar li a {
  display: inline-block; /* Make the links behave like block elements */
  color: #333; /* Text color */
  text-align: center; /* Center align text */
  padding: 14px 16px; /* Padding around the links */
  text-decoration: none; /* Remove underline */
}

.navbar li a:hover {
  background-color: #cdffa2; /* Background color on hover */
}

.navbar li a.active {
  background-color: #4CAF50; /* Active link background color */
  color: white; /* Active link text color */
}

.container {
  margin-top: 50px; /* Add margin to the container to avoid content being hidden under navbar */
}












.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}


.container1 {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
}
